@using shopgiayonline.Framework;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/css/DetailsPage.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.simpleGallery.css" rel="stylesheet" />

    <link href="~/Content/css/jquery.simpleLens.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Content/src/jquery.simpleGallery.js"></script>
    <script src="~/Content/src/jquery.simpleLens.min.js"></script>
    <style>
        /*white text header footerlink*/
        .whitetext {
            color: white;
            font-weight: bold;
            font-size: 120%;
            margin-top: 20px;
        }

        .white-content {
            color: white;
        }
        /*Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        /*custom button*/
        /*.carousel-control-next-icon:hover{
            border-color: red;
            color: red;
        }*/

        /*Parallax*/
        .parallax {
            /* The image used */
            background-image: url("../Images/TrangChu/shoes2.jpg");
            /* Set a specific height */
            height: 800px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

            .parallax .btn {
                position: absolute;
                top: 50%;
                left: 20%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #0066ff;
                color: white;
                font-size: 16px;
                padding: 12px 24px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }

        .caption {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            color: #000;
        }

            .caption span.border {
                background-color: #111;
                color: black;
                padding: 18px;
                font-size: 25px;
                letter-spacing: 10px;
            }
        /*Hover Button*/
        .button {
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button a {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button a:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover a {
                padding-right: 25px;
            }

                .button:hover a:after {
                    opacity: 1;
                    right: 0;
                }
        /*Hover content for navbar*/

        li {
            float: left;
        }

            li > a, .dropbtn {
                display: inline-block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li > a:hover, .dropdown:hover .dropbtn {
                    background-color: red;
                }

            li .dropdown {
                display: inline-block;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                font-weight: bold;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: red;
                }

        .dropdown:hover.dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
	<!--Thanh navbar-->
	<nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: black;">
  <!-- Brand -->
  <a class="navbar-brand" href="/">
  	<img src="~/Images/logoadidas.jpg" alt="" width="70px">
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
	
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
              <a class="nav-link text-white dropbtn dropdown-toggle" href="#" data-toggle="dropdown">SPORTS</a>
              <div class="dropdown-content dropdown-menu">
                  <a href="#" class="dropdown-item">FOOT BALL</a>
                  <a href="#" class="dropdown-item">RUNNING</a>
                  <a href="#">BASKET BALL</a>
                  <a href="#">TRAINING</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="#">BRANDS</a>
          </li>
      </ul>
      @using (Html.BeginForm("SearchItem", "Index", FormMethod.Get, new { @class = "form-inline ml-auto", role = "search", id = "search-form" }))
      {
      <input type="text" class="form-control mr-sm-2" placeholder="Tìm kiếm ....." name="searchItem" value="@ViewBag.searchItem" id="search-box">

      <button type="submit" class="btn btn-success btn-default hidden-xs"><i class="fas fa-search-dollar"></i></button>
      }

      @{Html.RenderAction("HeaderCart", "GioHang"); }
        
      <ul class="navbar-nav ">
          @if (Session["TenKH"] == null)
        {
          <li class="nav-item ">
              <a href="~/Customers/Login" class="nav-link text-white"><i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
          <li class="nav-item ">
              <a href="~/Customers/RegisterCustomers" class="nav-link text-white"><i class="fas fa-user-plus"></i> Sign up</a>
          </li>
    }
    else
    {
        KHACHHANG kh = (KHACHHANG)Session["TenKH"];
          <li>
              <h4 style="color:white">Chào @kh.TenKH</h4>
              <a href="~/Customers/ChangePassword?ma=@kh.MaKH" class="nav-link text-white">Thông tin</a>
              <a href="~/Customers/History" class="nav-link text-white">Lịch sử đơn</a>
          </li>
      <li>
          <a class="dropdown-item nav-link text-white" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
      </li>
      <li>
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                              Bạn muốn thoát, <span class="badge-warning badge-pill">@kh.TenKH</span> ?
                          </h5>

                          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                          </button>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          @Html.ActionLink("Đăng xuất", "Logout", "Customers", null, new { @class = "text-white btn btn-secondary" })
                      </div>
                  </div>
              </div>
          </div>
      </li>
}
      </ul>
  </div> 


</nav>

	<!--Thanh navbar end-->
	@RenderBody()
<!-- footer -->
<footer class="page-footer font-small bg-danger">
	<div style="background-color: #6351ce;">
		<div class="container" style="padding-top: 10px;padding-bottom: 10px;">
			<!-- row-->
			<div class="row align-items-center">
				<!--column-->
				<div class="col-md-6 text-center">
					<h5 style=" color: white;">Get connected with us on social networks!</h5>
				</div>
				<!--column-->

				<!--column-->
				<div class="col-md-4 text-center text-md-right">
					<!--ic facebook-->
					<a href="#" class="fb-ic" style="color:white; margin-right: 30px;">
						<i class="fab fa-facebook fa-2x white-text mr-4"></i>
					</a>		            
					<!-- Twitter -->
		            <a class="tw-ic" style="color:white;margin-right: 30px;">
		              <i class="fab fa-twitter fa-2x white-text mr-4"> </i>
		            </a>
		            <!-- Google +-->
		            <a class="gplus-ic mr-4" style="color:white; margin-right: 30px;">
		              <i class="fab fa-google-plus-g fa-2x white-text mr-4"> </i>
		            </a>
					<!--Instagram-->
		            <a class="ins-ic" style="color:white; margin-right: 30px;">
		              <i class="fab fa-instagram fa-2x white-text"> </i>
		            </a>
				</div>
				<!--column-->
			<!-- row-->
			</div>

			
		</div>
	</div><!-- footer-->

	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left mt-5" style="background-color: #1c2331;">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold whitetext">Company name</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;color:black;">
          <p class="white-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime maiores, nihil. Eius culpa, vitae sint omnis aperiam eveniet deleniti perferendis, repudiandae dicta recusandae reiciendis qui quis dolor ipsum perspiciatis rerum nemo quod neque ipsam! Error voluptates fuga autem maxime velit!</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold whitetext">Products</h6>
          <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!" class="white-content">MDBootstrap</a>
          </p>
          <p>
            <a href="#!" class="white-content">MDWordPress</a>
          </p>
          <p>
            <a href="#!" class="white-content">BrandFlow</a>
          </p>
          <p>
            <a href="#!" class="white-content">Bootstrap Angular</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold whitetext">Useful links</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!" class="white-content">Your Account</a>
          </p>
          <p>
            <a href="#!" class="white-content">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!" class="white-content">Shipping Rates</a>
          </p>
          <p>
            <a href="#!" class="white-content">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold whitetext">Contact</h6>
          <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p class="white-content">
            <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p class="white-content">
            <i class="fas fa-envelope mr-3"></i> info@example.com</p>
          <p class="white-content">
            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p class="white-content">
            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="text-center py-3 white-content " style="background-color: black; padding: 10px;">© 2018 Copyright:
      <a href="#"> ABC.COM</a>
    </div>
    <!-- Copyright -->
</footer>
<script src="~/Content/Cart.js"></script>

</body>
</html>