@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đổi mật khẩu khách hàng";
}

@using shopgiayonline.Framework;
@model KHACHHANG
<form action="~/Customers/ChangePassword" method="post">
    <input type="hidden" name="MaKH" value="@Model.MaKH"  />
    <div class="form-group">
        <div class="form-label-group">
            <label for="inputTenKH">Tên khách hàng</label>
            <input type="text" id="inputTenKH" name="TenKH" value="@Model.TenKH" class="form-control" placeholder="Tên khách hàng....." />
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <label for="inputEmail">Email</label>
            <input type="email" name="EmailKH" id="inputEmailKH" value="@Model.EmailKH"  class="form-control" placeholder="Email khách hàng....." />
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <label for="inputMatKhauKH">Mật khẩu</label>
            <input type="text" name="MatKhauKH" id="inputMatKhauKH" class="form-control" placeholder="Thay đổi mật khẩu khách hàng....." />
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <label for="inputDiaChiKH">Địa chỉ khách hàng</label>
            <input type="text" name="DiaChiKH" id="inputDiaChiKH" value="@Model.DiaChiKH"  class="form-control" placeholder="Địa chỉ khách hàng.....">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <label for="inputSDTKH">Số điện thoại khách hàng</label>
            <input type="text" name="SDTKH" id="inputSDTKH" class="form-control" value="@Model.SDTKH"  placeholder="Điện thoại khách hàng.....">
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-success btn-block">Đổi thông tin</button>
</form>