@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thông tin quản trị viên";
}

@using shopgiayonline.Framework;
@model QUANTRI
<form action="~/Admin/Login/ChangePasswordAdmin" class="ml-5 mt-5" method="post">
    <input type="hidden" name="AdID" value="@Model.AdID" />
            <input type="hidden" name="TenAdmin" value="@Model.TenAdmin" />
            <input type="hidden" name="EmailAdmin" value="@Model.EmailAdmin" />
            <input type="hidden" name="UserAdmin" value="@Model.UserAdmin" class="form-control" />
    <div class="form-group">
        <div class="form-label-group">
            <h4>Đổi mật khẩu</h4>
            <input type="text" name="MatKhauAdmin" value="@Model.MatKhauAdmin" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-success btn-block">Reset Password</button>
</form>