@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quản trị sản phẩm";
}

@using shopgiayonline.Framework;
@model List<SANPHAM>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i> Thông tin của Sản Phẩm
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <a class="btn btn-secondary" href="~/Admin/Home/ThemSanPham" >+</a>
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <td>Mã sản phẩm</td>
                        <td>Tên sản phẩm</td>
                        <td>Chất liệu</td>
                        <td>Mô tả</td>
                        <td>Mô tả chi tiết</td>
                        <td>Đặc điểm</td>
                        <td>Giá</td>
                        <td>Hình ảnh</td>
                        <td>Hình ảnh tổng hợp</td>
                        <td>Xóa</td>
                        <td>Sửa</td>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>Mã sản phẩm</td>
                        <td>Tên sản phẩm</td>
                        <td>Chất liệu</td>
                        <td>Mô tả</td>
                        <td>Mô tả chi tiết</td>
                        <td>Đặc điểm</td>
                        <td>Giá</td>
                        <td>Hình ảnh</td>
                        <td>Hình ảnh tổng hợp</td>
                        <td>Xóa</td>
                        <td>Sửa</td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr class="text-center">
                        <td>@item.MaSP</td>
                        <td>@item.TenSP</td>
                        <td>@item.ChatLieu</td>
                        <td>@item.Mota</td>
                        <td>@item.Motachitiet</td>
                        <td>@item.DacDiem</td>
                        <td>@item.GIA</td>
                        <td><img src="~/Images/ImgProduct/@item.HINHANH" width="100px" /></td>
                        <td>@item.HINHTONGHOP</td>
                        <td><a href="~/Admin/Home/XoaSanPham?ma=@item.MaSP" class="btn btn-light">x</a></td>
                        <td><a href="~/Admin/Home/SuaSanPham?ma=@item.MaSP" class="btn btn-light">x</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>

</div>
