@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sửa lại sản phẩm quản trị";
}

@using shopgiayonline.Framework;
@model SANPHAM
<form action="~/Admin/Home/SuaSanPham" method="post">
    <input type="hidden" name="MaSP" value="@Model.MaSP" />
    <div class="form-group">
        <div class="form-label-group">
            <input type="text" name="TenSP" id="inputTen" value="@Model.TenSP" />
            <label for="inputTen">Tên sản phẩm ....</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <input type="text" name="ChatLieu" id="inputChatLieu" value="@Model.ChatLieu" />
            <label for="inputChatLieu">Chất liệu sản phẩm ....</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <input type="text" name="Mota" id="inputmota" class="form-control" value="@Model.Mota" />
            <label for="inputmota">Mô tả Hot Deals ....</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <input type="text" name="Motachitiet" id="inputMota" class="form-control" value="@Model.Motachitiet" />
            <label for="inputMota">Mô tả chi tiết sản phẩm ....</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <input type="text" name="DacDiem" id="inputDacDiem" class="form-control" value="@Model.DacDiem" />
            <label for="inputDacDiem">Ðặc điểm sản phẩm ....</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <input type="text" name="GIA" id="inputmoney" class="form-control" value="@Model.GIA" />
            <label for="inputmoney">Giá thành sản phẩm ....</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <input type="text" name="HINHANH" id="inputIMG" class="form-control" />
            <label for="inputIMG">Hình ảnh ....</label>
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-success btn-block">Sửa sản phẩm</button>
</form>
